.app-container {
  height: 100vh;
  padding: 15px;
  background: #332D2D;
  color: white;
}

.app-container__row {
  height: 60%;
  max-height: 400px;
}

.app-container__left{
  width: 30%;
  height: 100%;
  max-height: 415px;
}